@import '/src/styles';

.container {
    border-radius: 5px;
        .text-input {
            border: none;
            font-size: $font-size;
            font-family: Helvetica;
            margin-top: -5px;
            background-color: none;
        }
    
        .text-input:focus {
            border: none;
            outline: none;
        }
}

