<div *ngFor="let todo of filteredTodoList">
    <app-todo-item [todo]="todo"></app-todo-item>
</div>
<div class="tool-bar container">
    
    <li>{{ todoList.length }} items left</li>

    <div class="filters">
        <li [class.filter-active]="!currentFilter" (click)="filterItems()">All</li>
        <li [class.filter-active]="currentFilter == 'active'" (click)="filterItems('active')">Active</li>
        <li [class.filter-active]="currentFilter == 'completed'" (click)="filterItems('completed')">Completed</li>
    </div>
    
    <li>Clear Completed</li>

</div>