<div class="todo-container" [class.shadow]="lightMode" cdkDropList (cdkDropListDropped)="moveItem($event)">
    <div *ngFor="let todo of filteredTodoList">
        <app-todo-item [todo]="todo" [lightMode]="lightMode" cdkDrag></app-todo-item>
    </div>
    <div class="tool-bar container" [class.dark]="!lightMode">
        
        <li>{{ todoList.length }} items left</li>
    
        <div class="filters">
            <li [class.filter-active]="!currentFilter" (click)="filterItems()">All</li>
            <li [class.filter-active]="currentFilter == 'active'" (click)="filterItems('active')">Active</li>
            <li [class.filter-active]="currentFilter == 'completed'" (click)="filterItems('completed')">Completed</li>
        </div>
        
        <li (click)="clearCompleted()">Clear Completed</li>
    
    </div>
</div>
