@import '/src/styles.scss';

.tool-bar {
    list-style: none;
    justify-content: space-between;
    font-size: 14px;
    color: $light-dark-gray-blue;

    .filters {
        display: flex;

        li {
            padding-left: 15px;
            font-weight: bold;
        }

        .filter-active {
            color: $primary-bright-blue;
        }
    }
}

.todo-container {
    border-radius: 5px;
    overflow: hidden;
}

.shadow {
    box-shadow: -9px 7px 20px 4px rgb(194 195 214 / 35%);
}