<img class="header-image" 
[src]="lightMode ? lightDesktopBground : darkDesktopBground" 
alt="Mountain background">

<div class="main-app-container">
    <div class="heading">
        <h1>TODO</h1>
        <img [src]="lightMode ? lightMoonIcon : darkSunIcon"
        [alt]="lightMode ? 'Switch to dark mode' : 'Switch to light mode'"
        (click)="toggleLightMode()">
    </div>
    <div class="break"></div>
    <app-input-todo [lightMode]="lightMode"></app-input-todo>
    <app-todo-container [lightMode]="lightMode"></app-todo-container>

    <span class="footer-text">Drag and drop to reorder list</span>
</div>
