<img class="header-image" 
[src]="lightMode ? lightDesktopBground : darkDesktopBground" 
alt="Mountain background">

<div class="main-app-container">
    <div class="heading">
        <h1>TODO</h1>
        <img [src]="lightMode ? lightMoonIcon : darkSunIcon"
        [alt]="lightMode ? 'Switch to dark mode' : 'Switch to light mode'"
        (click)="toggleLightMode()">
    </div>
    <div class="break"></div>
    <app-input-todo></app-input-todo>
    <app-todo-container></app-todo-container>
</div>
