@import '/src/styles';

.header-image {
    position: absolute;
    z-index: -1;
}


.main-app-container {
    display: flex;
    width: 540px;
    margin: auto;
    padding: 70px;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 35px;

    h1 {
        display: inline-block;
        font-weight: $font-normal;
        color: $light-gray;
        letter-spacing: 0.25em;
        margin: 12px 0 0 0;
        font-size: 2.3rem;
    }

    img {
        width: 26px;
        height: 26px;
    }
}

app-input-todo {
    padding: 24px 0;
    width: 100%;
}

app-todo-container {
    width: 100%;
}
